*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: rgb(252, 251, 249);
    /* background-image: url(Background\ image.jpeg);
   background-size: cover; */
}

.container{
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.container h1{
    color: #07bef5;
    font-weight: 700;
    font-size: 40px;
    cursor: pointer;
}

.navbar ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
  

}

.navbar ul li a{
    padding: 9px;
    text-decoration: none;
    color :#f38405;
    font-size: 20px;
    transition: 1s;
    
}

.navbar ul li a:hover{
    background-color: rgb(231, 228, 225);
    
}

.content{
    position: absolute;
    color: #fff;
    margin-top: 11%;
    margin-left: 15%;
}

.content h1{
    font-size: 50px;
}

p {
    color: black;
    font-size: 16px;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    margin-bottom:100 px;
    text-indent: 100px;
}